<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="place">

	<select id="keywordSearch" resultType="place">
		SELECT * FROM PLACES WHERE TITLE LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="keywordSearchList" resultType="place" parameterType="string">
 			SELECT * FROM PLACES WHERE TITLE LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="keywordResultCnt" resultType="_int" parameterType="string">
            SELECT COUNT(*) FROM PLACES WHERE TITLE LIKE '%'||#{keyword}||'%'
	</select>

	<select id="filterSearch" resultType="place">
		SELECT * FROM PLACES WHERE 1=1
				<if test="title!=null and title!='undefined'">AND TITLE LIKE '%'||#{title}||'%'</if>
				<if test="areacode!=null and areacode!=0">AND AREACODE=#{areacode}</if>
				<if test="sigungucode!=null and sigungucode!=0">AND SIGUNGUCODE=#{sigungucode}</if>
				<if test="research!=null and research!=''">AND TITLE LIKE '%'||#{research}||'%'</if>
				<if test="theme!=null and theme!=''">AND CAT2 = #{theme}</if>
	</select>

	<select id="selectPlace" resultType="place">
		SELECT * FROM PLACES WHERE CONTENTID=#{contentId}
		
	</select>
	
	
	
	<!-- PROPOSAL 관련 resultMap만들기 -->
	<resultMap id="proposalMap" type="proposal">
		<!-- PROPOSAL객체가 기본적으로 보유한 것 -->
		<id column="proposal_id" property="proposalId"/>
		<result column="member_id" property="memberId"/>
		<result column="title" property="title"/>
		<result column="areacode" property="areaCode"/>
		<result column="sigungucode" property="sigunguCode"/>
		<result column="address" property="address"/>
		<result column="cat2" property="cat2"/>
		<result column="mapx" property="mapx"/>
		<result column="mapy" property="mapy"/>
		<result column="info" property="info"/>
		<result column="uploaddate" property="uploadDate"/>
		<result column="approval" property="approval"/>
		<!-- has a관계인, Proposalimg객체가 보유한 것 -->
		<collection property="firstImg" ofType="proposalimg">
			<id column="imgno" property="imgNo"/>
			<result column="proposal_id" property="proposalId"/>
			<result column="oriname" property="oriName"/>
			<result column="renamedfilename" property="renamedFileName"/>
			<result column="uploaddate" property="uploadDate"/>			 
		</collection>
	</resultMap>
	
	<!-- 0829) LIKES 관련 resultMap만들기 -->
	<resultMap id="likesMap" type="likes">
	
		<!--LIKES객체가 기본적으로 보유한 것-->
			<id column="likes_id" property="likesId"/>
			<result column="likes_title" property="likesTitle"/>
			<result column="member_id" property="memberId"/>
		<!--has a 관계인 LIKES_INFO객체가 보유한 것-->
			<collection property="list" ofType="likesInfo">
				<id column="lcode" property="lcode"/>
				<result column="likes_id" property="likesId"/>
				<result column="contentid" property="contentId"/>
			</collection>
	</resultMap>
	
		
	<insert id="insertProposal" parameterType="proposal">
		INSERT INTO PROPOSAL VALUES(#{memberId},'P'||SEQ_PROPOSAL.NEXTVAL,#{title},#{areaCode},#{sigunguCode},#{address},#{cat2},#{mapx},#{mapy},DEFAULT,DEFAULT,#{info})
		<selectKey keyProperty="proposalId" resultType="string" order="AFTER">
			SELECT SEQ_PROPOSAL.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertProposalImg" parameterType="proposalimg">
		INSERT INTO PROPOSAL_IMG VALUES('IMG'||SEQ_PROPOSEIMG.NEXTVAL,'P'||#{proposalId},#{oriName},#{renamedFileName},DEFAULT)
	</insert>
	
	<select id="selectProposalList" resultType="proposal">
		SELECT * FROM PROPOSAL
	</select>
	
	<select id="selectProposalCnt" resultType="_int">
		SELECT COUNT(*) FROM PROPOSAL
	</select>
	
	<select id="selectProposal" resultMap="proposalMap">
		SELECT * FROM PROPOSAL P
					          LEFT JOIN PROPOSAL_IMG I
					          USING (PROPOSAL_ID)
					          WHERE PROPOSAL_ID=#{proposalId}
	</select>
	
	<delete id="deleteProposal" parameterType="string">
		DELETE FROM PROPOSAL WHERE PROPOSAL_ID = #{proposalId}
	</delete>
	
	<insert id="insertPlace" parameterType="place">
		INSERT INTO PLACES VALUES (SEQ_CONTENTID.NEXTVAL,DEFAULT,#{title},#{areacode},#{sigungucode},#{address},DEFAULT,#{cat2},DEFAULT,#{firstImage},#{mapx},#{mapy},#{proposalId},#{info})
	</insert>
	
	<update id="updateApproval" parameterType="string">
		UPDATE PROPOSAL SET APPROVAL='Y' WHERE PROPOSAL_ID=#{proposalId}
	</update>
	
	<select id="getLikes" resultType="likes">
		SELECT * FROM LIKES WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="insertLikes" parameterType="likes">
		INSERT INTO LIKES VALUES (SEQ_LIKES.NEXTVAL,#{title},#{memberId})
		<selectKey keyProperty="likesId" resultType="string" order="AFTER">
			SELECT SEQ_LIKES.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="insertLikesInfo" parameterType="likesInfo">
		INSERT INTO LIKES_INFO VALUES ('L'||SEQ_LIKESINFO.NEXTVAL, #{likesId}, #{contentId})
	</insert>
	
	<select id="selectLikes" parameterType="likes" resultMap="likesMap">
		SELECT * FROM LIKES_INFO I
				      JOIN LIKES L
				      USING(LIKES_ID)
				 WHERE L.MEMBER_ID=#{memberId}
	</select>
	
	<delete id="deleteLike" parameterType="likesInfo">
		DELETE FROM LIKES_INFO WHERE LCODE=#{lcode}
	</delete>
	
	<select id="selectSavedHearts" parameterType="likesInfo" resultType="likesInfo">
		SELECT * FROM LIKES_INFO WHERE LIKES_ID=#{likesId}
	</select>
	
	<select id="selectLikedPlace" parameterType="likesInfo" resultType="place">
		SELECT * FROM PLACES P
					  JOIN LIKES_INFO I
					  USING (CONTENTID) 
					  WHERE LIKES_ID=#{likesId}
	</select>

</mapper>
