<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="place">

	<select id="keywordSearch" resultType="place">
		SELECT * FROM PLACES WHERE TITLE LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="keywordSearchList" resultType="place" parameterType="string">
 			SELECT * FROM PLACES WHERE TITLE LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="keywordResultCnt" resultType="_int" parameterType="string">
            SELECT COUNT(*) FROM PLACES WHERE TITLE LIKE '%'||#{keyword}||'%'
	</select>

	<select id="filterSearch" resultType="place">
		SELECT * FROM PLACES WHERE 1=1
				<if test="title!=null and title!='undefined'">AND TITLE LIKE '%'||#{title}||'%'</if>
				<if test="areacode!=null and areacode!=0">AND AREACODE=#{areacode}</if>
				<if test="sigungucode!=null and sigungucode!=0">AND SIGUNGUCODE=#{sigungucode}</if>
				<if test="research!=null and research!=''">AND TITLE LIKE '%'||#{research}||'%'</if>
				<if test="theme!=null and theme!=''">AND CAT2 = #{theme}</if>
	</select>

	<select id="selectPlace" resultType="place">
		SELECT * FROM PLACES WHERE CONTENTID=#{contentId}
	</select>
	
	
	
	<!-- PROPOSAL 관련 resultMap만들기 -->
	<resultMap id="proposalMap" type="proposal">
		<!-- PROPOSAL객체가 기본적으로 보유한 것 -->
		<id column="proposal_id" property="proposalId"/>
		<result column="member_id" property="memberId"/>
		<result column="title" property="title"/>
		<result column="areacode" property="areaCode"/>
		<result column="sigungucode" property="sigunguCode"/>
		<result column="address" property="address"/>
		<result column="cat2" property="cat2"/>
		<result column="mapx" property="mapx"/>
		<result column="mapy" property="mapy"/>
		<result column="info" property="info"/>
		<result column="uploaddate" property="uploadDate"/>
		<!-- has a관계인, Proposalimg객체가 보유한 것 -->
		<collection property="firstImg" ofType="proposalimg">
			<id column="imgno" property="imgNo"/>
			<result column="proposal_id" property="proposalId"/>
			<result column="oriname" property="oriName"/>
			<result column="renamedfilename" property="renamedFileName"/>
			<result column="uploaddate" property="uploadDate"/>			 
		</collection>
	</resultMap>
		
	<insert id="insertProposal" parameterType="proposal">
		INSERT INTO PROPOSAL VALUES(#{memberId},'P'||SEQ_PROPOSAL.NEXTVAL,#{title},#{areaCode},#{sigunguCode},#{address},#{cat2},#{mapx},#{mapy},DEFAULT,DEFAULT,#{info})
		<selectKey keyProperty="proposalId" resultType="string" order="AFTER">
			SELECT SEQ_PROPOSAL.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertProposalImg" parameterType="proposalimg">
		INSERT INTO PROPOSAL_IMG VALUES('IMG'||SEQ_PROPOSEIMG.NEXTVAL,'P'||#{proposalId},#{oriName},#{renamedFileName},DEFAULT)
	</insert>
	
	<select id="selectProposalList" resultType="proposal">
		SELECT * FROM PROPOSAL
	</select>
	
	<select id="selectProposalCnt" resultType="_int">
		SELECT COUNT(*) FROM PROPOSAL
	</select>
	
	<select id="selectProposal" resultMap="proposalMap">
		SELECT * FROM PROPOSAL P
					          LEFT JOIN PROPOSAL_IMG I
					          USING (PROPOSAL_ID)
					          WHERE PROPOSAL_ID=#{proposalId}
	</select>

</mapper>
