<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">


	<select id="login" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(#{memberId},#{email},#{memberPwd},#{phone},default,#{introduce},SYSDATE,#{areaCode},#{sigunguCode})
	</insert>
	
	<insert id="insertProfileImg" parameterType="profileimg">
		INSERT INTO PROFILEIMG VALUES('IMG'||SEQ_PROIMG.NEXTVAL,#{memberId},#{oriName},#{renamedFileName},SYSDATE)
	</insert>
</mapper>
